@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 28 65% 95%;
    --foreground: 0 0% 3.9%;
    --card: 28 95% 98%;
    --card-foreground: 0 0% 3.9%;
    --popover: 95 28% 99%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 28 95% 100%;
    --ring: 0 72.2% 50.6%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 5% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 5% 12%;
    --ring: 0 72.2% 50.6%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground grid;
    grid-template-rows: auto 1fr;
  }

  main {
    @apply w-full max-w-[80rem] mx-auto;
  }

  img {
    width: auto;
    height: auto;
  }

  ul {
    @apply list-none flex flex-col gap-2;
  }

  ul>li {
    @apply flex gap-[1rem] justify-between p-4 rounded-md items-center;
  }

  ol {
    @apply list-decimal list-inside pl-2;
  }
}

@layer components {
  header.site-header {
    position: sticky;
    display: grid;
    grid-template-areas: 'icon navigation account';
    grid-template-columns: auto 1fr auto auto;
    gap: 1rem;
  }

  .site-header>.site-icon {
    @apply rounded-full object-cover cursor-pointer m-4 border-[var(--accent)] border-solid border-2;
    grid-area: icon;
  }

  .site-header>.navbar {
    @apply m-4 my-auto;
    grid-area: navigation;
  }

  .site-header>.account-button {
    @apply m-4 my-auto;
    grid-area: account;
  }
}

@layer forms {
  .newUserNameEntries .alwaysShown {
    @apply grid gap-x-2;
    grid-template-columns: minmax(2rem, 1fr) 2fr 2fr auto;
    align-items: end;
  }

  .newUserContactEntries .alwaysShown {
    @apply grid gap-x-4;
    grid-template-columns: 1fr auto;
    align-items: end;
  }
}

h1,
.h1 {
  font-size: 2em;
}

h2,
.h2 {
  font-size: 1.75em;
}

h3,
.h3 {
  font-size: 1.5em;
}

h4,
.h4 {
  font-size: 1.375em;
}

h5,
.h5 {
  font-size: 1.25em;
}

h6,
.h6 {
  font-size: 1.125em;
}